APP_NAME=FleetOS
APP_ENV=production
APP_KEY=base64:replace-with-real-app-key
APP_DEBUG=false
APP_URL=http://LOAD_BALANCER_IP
FRONTEND_URL=http://LOAD_BALANCER_IP

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=fleet_management
DB_USERNAME=fleet
DB_PASSWORD=replace-me
CLOUD_SQL_INSTANCE_CONNECTION_NAME=fleetos-492609:europe-north1:fleetos-postgres

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=
SESSION_SECURE_COOKIE=false
SANCTUM_STATEFUL_DOMAINS=LOAD_BALANCER_IP

CORS_ALLOWED_ORIGINS=http://LOAD_BALANCER_IP
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis

REDIS_CLIENT=phpredis
REDIS_HOST=10.57.1.3
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

FLEET_OFFLINE_THRESHOLD_MINUTES=10

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-central1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=gpt-4.1-mini
OPENAI_TIMEOUT_SECONDS=25

VITE_APP_NAME="${APP_NAME}"
